.auth-cnr {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.auth-cnr form > fieldset {
    border: none;
}

.auth-cnr .signin-section,
.auth-cnr .signup-section {
    flex-basis: 40%;
}

.auth-cnr .signin-section {

}

.auth-cnr .signup-section {

}

.auth-cnr .input-wrapper {
    padding-bottom: 1em;
}

.auth-cnr .input-icon {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    border: 2px solid #000;
    border-radius: 0.3em;
    background-color: #FFF;
}

.auth-cnr .input-icon i {
    display: block;
    padding: 0 0.75em;
    position: absolute;
    right: 0;
}

.auth-cnr .input-icon input {
    display: block;
    padding-right: 1.5em;
    margin: 0.5em 1em;
    outline: none;
    border: none;
    width: 100%;
    background-color: #FFF;
}

.auth-cnr .input-icon input:focus::-webkit-input-placeholder {
    opacity: 0.5;
}

.auth-cnr .input-icon input:focus:-ms-input-placeholder {
    opacity: 0.5;
}

.auth-cnr .input-icon input:focus::-ms-input-placeholder {
    opacity: 0.5;
}

.auth-cnr .input-icon input:focus::placeholder {
    opacity: 0.5;
}



.buttons-signin,
.buttons-signup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.buttons-signin > .go-back {
    flex: 2 1 auto;
    margin-right: var(--sizing-ws-base);
}

.buttons-signin > input[type="submit"] {
    flex: 7 1 auto;
}

.buttons-signup > input[type="submit"] {
    flex: 1 1 auto;
}

.alt-signin {
    display: flex;
    flex-wrap: nowrap;
}

.alt-signin #google-signin {
    order: 2;
    color: var(--basic-color-google);
    background-color: var(--bgrd-color-google);
}

.alt-signin #instagram-signin {
    order: 3;
    color: var(--basic-color-insgr);
    background-image: var(--bgrd-img-insgr);
}

.alt-signin #facebook-signin {
    order: 1;
    color: var(--basic-color-fb);
    background-color: var(--bgrd-color-fb);
}


.auth-cnr input[type="button"],
.auth-cnr .button,
.auth-cnr button {
    display: block;
    padding: 0.5em 1em;
    outline: none;
    border: 2px solid #000;
    border-radius: 1.5em;
    cursor: pointer;
}



.alt-separator {
    padding: 1.5em 0;
    text-align: center;
}

.alt-signin {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.alt-signin > button.alt-btn {
    flex: 0 1 30%;
    align-items: center;
    border-radius: 1em;
    position: relative;
}

.alt-signin > button i {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.alt-signin > button i:before {
    padding: 0 0.75em;
}

.alt-signin > button span {
    margin-left: 1.5em;
    text-align: left;
}