@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

@import url('typography.css');
@import url('variables.css');
@import url('reset.css');
@import url('layout.css');
@import url('grid.css');

@import url('header.css');
@import url('footer.css');

@import url('authorize.css');



.gallery-wrapper .card,
.gallery-wrapper .cnt,
.gallery-wrapper .slide-show {
    overflow: hidden;
}

.gallery-wrapper .cnt {
    background-color: #EEE;
}

.gallery-wrapper .card,
.gallery-wrapper .slide-show {
    position: relative;
    background-color: #FFF;
}

.gallery-wrapper .card:after {
    display: block;
    content: '';
    padding-top: 100%;
}

.gallery-wrapper .card img,
.gallery-wrapper .slide-show img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
}

