@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
.offers-cnr .offers-nav ul.category:after, .offers-cnr .offers ul li .offer-img-wrapper:before, .about-us .gallery-wrapper .card:after {
  display: block;
  content: ''; }

.offers-cnr .offers ul li .offer-img-wrapper .offer-views, .offers-cnr .offers ul li .offer-img-wrapper .offer-price {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 0.3em;
  position: absolute;
  bottom: 5%; }

#toggle-main-navigation, #category-box-toggle {
  opacity: 0;
  position: absolute;
  pointer-events: none; }

.auth-cnr .signin-buttons, .auth-cnr .signup-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .auth-cnr .signin-buttons > .go-back, .auth-cnr .signup-buttons > .go-back,
    .auth-cnr .signin-buttons > input[type="submit"],
    .auth-cnr .signup-buttons > input[type="submit"] {
      font-size: 1rem; } }
  .auth-cnr .signin-buttons > .go-back, .auth-cnr .signup-buttons > .go-back {
    flex: 2 1 auto;
    margin-right: var(--sizing-ws-base);
    background-color: #928787; }
    @media (min-width: 901px) {
      .auth-cnr .signin-buttons > .go-back, .auth-cnr .signup-buttons > .go-back {
        display: none; } }
  
  .auth-cnr .signin-buttons > input[type="submit"],
  .auth-cnr .signup-buttons > input[type="submit"] {
    flex: 8 1 auto;
    background-color: var(--theme-1-soft-blue); }

.contacts .our-place .iframe-wrapper, .contacts .call-us form input, .contacts .call-us form textarea, .contacts .call-us form .field.submit button {
  padding: 0.5em;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: #DDD;
  border-top-color: #999;
  border-left-color: #999;
  border-radius: var(--basic-border-radius);
  background-color: var(--basic-color); }
  .contacts .our-place .iframe-wrapper:focus, .contacts .call-us form input:focus, .contacts .call-us form textarea:focus, .contacts .call-us form .field.submit button:focus, .contacts .our-place .iframe-wrapper:hover, .contacts .call-us form input:hover, .contacts .call-us form textarea:hover, .contacts .call-us form .field.submit button:hover {
    border-color: var(--theme-1-pool-blue-rgba);
    border-top-color: var(--theme-1-soft-blue);
    border-left-color: var(--theme-1-soft-blue); }

:root {
  --sizing-fs-base: 12px;
  --sizing-ws-base: 1.5em;
  --sizing-fs-tablet: 14px;
  --sizing-fs-laptop: 16px;
  --sizing-fs-desktop: 18px;
  --sizing-fs-huge: 20px; }

html {
  font: var(--sizing-fs-base);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: calc( var(--sizing-ws-base) / 3); }

p, ul, ol, dl, table {
  margin-bottom: var(--sizing-ws-base); }

p:last-of-type {
  margin-bottom: 0; }

ul, ol {
  padding-left: var(--sizing-ws-base);
  list-style-type: none; }

body, input, button, table, textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; }

@media (min-width: 600px) {
  html {
    font-size: var(--sizing-fs-tablet); } }

@media (min-width: 1260px) {
  html {
    font-size: var(--sizing-fs-laptop); } }

@media (min-width: 1420px) {
  html {
    font-size: var(--sizing-fs-desktop); } }

@media (min-width: 1660px) {
  html {
    font-size: var(--sizing-fs-huge); } }

:root {
  --basic-padding-input: 0.5em 1em;
  --basic-border-radius: 0.3em;
  --theme-1-ink: #20232A;
  --theme-1-aluminium: #ACBEBE;
  --theme-1-paper: #F4F4EF;
  --theme-1-wave: #66A6AD;
  --theme-1-pool-blue: #5CC5EF;
  --theme-1-pool-blue-rgba: rgba(92, 197, 239, 0.7);
  --theme-1-soft-blue: #6475E3;
  --basic-color: #FFF;
  --basic-link-color: #00E;
  --footer-bgrd-color: #333;
  --basic-color-google: #333;
  --bgrd-color-google: #FFF;
  --basic-color-insgr: #FFF;
  --bgrd-img-insgr: linear-gradient(to left bottom, #cc3399, #f1347d, #ff4e5c, #ff7338, #ff9900);
  --basic-color-fb: #FFF;
  --bgrd-color-fb: #3B5998; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  padding: 0;
  margin: 0; }

@-webkit-keyframes fade-in-search {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes fade-in-search {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  20%, 80% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px); }
  40%, 60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px); } }

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  20%, 80% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px); }
  40%, 60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px); } }

@-webkit-keyframes rotate-3d {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0rad);
            transform: rotate3d(0, 0, 0, 0rad); }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 3.142rad);
            transform: rotate3d(0, 1, 0, 3.142rad); } }

@keyframes rotate-3d {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0rad);
            transform: rotate3d(0, 0, 0, 0rad); }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 3.142rad);
            transform: rotate3d(0, 1, 0, 3.142rad); } }

.btn {
  display: block;
  padding: var(--basic-padding-input);
  border-radius: var(--basic-border-radius);
  cursor: pointer; }

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

#scroll-to-top {
  position: fixed;
  bottom: 7%;
  right: 5%;
  overflow: hidden;
  border-radius: 50%;
  text-decoration: none;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  padding: 1.5rem;
  z-index: 100;
  color: var(--basic-color);
  background-color: rgba(0, 0, 0, 0.5); }
  #scroll-to-top:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  #scroll-to-top span {
    position: relative;
    overflow: hidden; }
    #scroll-to-top span:after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 2rem;
      display: block;
      content: '\f077';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }

html {
  scroll-behavior: smooth; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.site-content {
  flex-grow: 1;
  background-image: linear-gradient(to top, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url("../img/content-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 901px) {
    .site-content {
      padding: 0.2em 2em; } }
  .site-content .container {
    background-color: rgba(244, 244, 239, 0.5); }
    @media (max-width: 900px) {
      .site-content .container {
        padding: 0.5em; } }
    @media (min-width: 901px) {
      .site-content .container {
        padding: 1em; } }
    @media (min-width: 901px) {
      .site-content .container.home, .site-content .container.contacts, .site-content .container.about-us {
        padding: 1em; } }
    .site-content .container.home, .site-content .container.contacts {
      max-width: 800px;
      margin: 0 auto; }
    .site-content .container.about-us {
      max-width: 1400px;
      margin: 0 auto; }

.gallery-wrapper {
  width: 100%;
  display: grid;
  grid-gap: 2em; }
  @media (max-width: 900px) {
    .gallery-wrapper {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: auto 15vh auto 15vh;
      grid-template-areas: "icr1 icr1" "icd1 icd1" "icr2 icr2" "icd2 icd2" "icr3 icr3" "icd3 icd3"; } }
  @media (min-width: 901px) {
    .gallery-wrapper {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 30vh);
      grid-template-areas: "icd1 icd1 icr1 icr1 icr1" "icr2 icr2 icr2 icd2 icd2" "icd3 icd3 icr3 icr3 icr3"; } }
  .gallery-wrapper .item-card-1 {
    grid-area: icd1; }
  .gallery-wrapper .item-card-2 {
    grid-area: icd2; }
  .gallery-wrapper .item-card-3 {
    grid-area: icd3; }
  .gallery-wrapper .item-cnr-1 {
    grid-area: icr1; }
  .gallery-wrapper .item-cnr-2 {
    grid-area: icr2; }
  .gallery-wrapper .item-cnr-3 {
    grid-area: icr3; }

.site-header {
  position: relative; }
  .site-header.banner {
    display: block;
    background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.7), rgba(51, 51, 51, 0.3)), url("../img/content-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media (min-width: 901px) {
      .site-header.banner:after {
        display: block;
        content: '';
        padding-bottom: calc((9 / 64) * 100%); } }
  .site-header .inner {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    align-content: baseline;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8); }
    @media (max-width: 900px) {
      .site-header .inner {
        flex-direction: column; } }
    .site-header .inner a {
      outline: none; }
    .site-header .inner .site-tittle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      font-family: "Unispace", sans-serif;
      margin: 0;
      color: var(--theme-1-aluminium); }
      @media (max-width: 900px) {
        .site-header .inner .site-tittle {
          margin-bottom: 1em; } }
      .site-header .inner .site-tittle a {
        font: inherit;
        text-decoration: none;
        color: var(--theme-1-aluminium); }
        .site-header .inner .site-tittle a:focus {
          text-decoration: underline; }
        .site-header .inner .site-tittle a:focus, .site-header .inner .site-tittle a:hover {
          color: var(--theme-1-pool-blue-rgba); }
    .site-header .inner .site-nav {
      flex-grow: 1; }
  .site-header #top {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 2.45em;
    pointer-events: none; }

.site-footer {
  padding: 0.5em;
  color: var(--basic-color);
  background-color: var(--footer-bgrd-color); }
  .site-footer p.con-state {
    font-size: 0.7em;
    font-weight: 700;
    font-style: italic;
    font-family: Verdana, sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    opacity: 0.6;
    color: var(--basic-color); }

.site-nav {
  font-size: 1.2em; }
  .site-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0.5em;
    margin: 0; }
    @media (max-width: 900px) {
      .site-nav ul {
        display: none;
        padding: 1em 0; }
        #toggle-main-navigation:checked + .site-nav ul {
          display: flex;
          flex-direction: column;
          align-content: stretch; } }
  .site-nav li {
    display: block;
    padding: 0 0.75em;
    overflow: hidden; }
    @media (max-width: 900px) {
      .site-nav li {
        padding: 0;
        padding-top: 0.75em; } }
    .site-nav li:focus a, .site-nav li:hover a {
      color: var(--theme-1-ink);
      background-color: var(--theme-1-aluminium); }
  @media (min-width: 901px) {
    .site-nav li.sign-in-nav {
      margin-left: auto; } }
  .site-nav a {
    display: block;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    border-radius: var(--basic-border-radius);
    padding: var(--basic-padding-input);
    color: var(--theme-1-ink);
    background-color: var(--theme-1-pool-blue-rgba); }
  .site-nav #nav-toggle-btn {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--theme-1-ink);
    background-color: var(--theme-1-pool-blue-rgba); }
    .site-nav #nav-toggle-btn:focus, .site-nav #nav-toggle-btn:hover {
      color: var(--theme-1-ink);
      background-color: var(--theme-1-aluminium); }
    .site-nav #nav-toggle-btn:before {
      display: inline-block;
      content: '\f0c9';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      padding-right: 0.5rem; }
    #toggle-main-navigation:checked + .site-nav #nav-toggle-btn:before {
      content: '\f00d'; }
    @media (max-width: 900px) {
      .site-nav #nav-toggle-btn {
        display: flex; } }
    @media (min-width: 901px) {
      .site-nav #nav-toggle-btn {
        display: none; } }

.home {
  position: relative; }
  .home .slide-show {
    display: block;
    position: relative;
    width: auto;
    margin: 0 auto; }
    .home .slide-show:before {
      display: block;
      content: '';
      padding-top: 28.125%; }
    .home .slide-show .show-offer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      opacity: 0; }
      .home .slide-show .show-offer img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        height: auto; }
  .home .left, .home .right {
    display: block;
    font-size: 2em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding: 0.3em;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    color: var(--basic-color);
    background-color: rgba(30, 30, 30, 0.7);
    z-index: 1000;
    cursor: pointer; }
    .home .left:focus, .home .left:hover, .home .right:focus, .home .right:hover {
      color: var(--theme-1-ink);
      background-color: rgba(200, 0, 0, 0.7); }
  .home .left {
    left: 0;
    padding-right: 0.5em;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem; }
  .home .right {
    right: 0;
    padding-left: 0.5em;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem; }

.offers-cnr {
  display: block;
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto; }
  .offers-cnr .offers-nav {
    display: block;
    margin-bottom: 3em; }
    @media (min-width: 901px) {
      .offers-cnr .offers-nav {
        box-shadow: inset 0 0 0.5em 0 #f4f4ef;
        border-radius: var(--basic-border-radius);
        background-color: #fafafa; } }
    .offers-cnr .offers-nav .search-offers .search-form {
      display: flex;
      flex-wrap: nowrap;
      padding: 1em;
      width: 100%; }
      @media (max-width: 900px) {
        .offers-cnr .offers-nav .search-offers .search-form {
          padding: 1em 0; } }
      .offers-cnr .offers-nav .search-offers .search-form button[type="submit"] {
        flex-grow: 1;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        order: 2;
        color: var(--basic-color);
        background-color: var(--theme-1-ink); }
        .offers-cnr .offers-nav .search-offers .search-form button[type="submit"] i {
          display: inline-block;
          font-size: 1.2em;
          padding-right: 0.3em; }
        .offers-cnr .offers-nav .search-offers .search-form button[type="submit"]:focus, .offers-cnr .offers-nav .search-offers .search-form button[type="submit"]:hover {
          color: var(--theme-1-wave); }
      .offers-cnr .offers-nav .search-offers .search-form input[type="search"] {
        flex-grow: 5;
        width: 100%;
        outline: none;
        border: 2px solid var(--theme-1-ink);
        border-radius: var(--basic-border-radius);
        padding: var(--basic-padding-input);
        margin-right: 0.5em;
        letter-spacing: 0.1em;
        order: 1; }
        .offers-cnr .offers-nav .search-offers .search-form input[type="search"]:focus::-webkit-input-placeholder {
          opacity: 0.5; }
        .offers-cnr .offers-nav .search-offers .search-form input[type="search"]:focus:-ms-input-placeholder {
          opacity: 0.5; }
        .offers-cnr .offers-nav .search-offers .search-form input[type="search"]:focus::-ms-input-placeholder {
          opacity: 0.5; }
        .offers-cnr .offers-nav .search-offers .search-form input[type="search"]:focus::placeholder {
          opacity: 0.5; }
    .offers-cnr .offers-nav #category-toggle-button {
      display: flex;
      justify-content: center;
      color: var(--theme-1-ink);
      background-color: var(--theme-1-wave); }
      .offers-cnr .offers-nav #category-toggle-button:before {
        display: inline-block;
        content: '\f0c9';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding-right: 0.5rem; }
      @media (max-width: 900px) {
        .offers-cnr .offers-nav #category-toggle-button {
          display: flex; } }
      @media (min-width: 901px) {
        .offers-cnr .offers-nav #category-toggle-button {
          display: none; } }
      #category-box-toggle:checked + .offers-nav #category-toggle-button {
        color: var(--theme-1-wave);
        background-color: var(--theme-1-ink); }
        #category-box-toggle:checked + .offers-nav #category-toggle-button:before {
          content: '\f410'; }
    .offers-cnr .offers-nav ul.category {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 0.5em;
      margin: 0; }
      @media (max-width: 900px) {
        .offers-cnr .offers-nav ul.category {
          display: none;
          padding: 1em 0; }
          #category-box-toggle:checked + .offers-nav ul.category {
            display: flex;
            flex-direction: column;
            align-content: stretch; } }
      .offers-cnr .offers-nav ul.category:after {
        margin-right: auto; }
      .offers-cnr .offers-nav ul.category li {
        border-radius: 0.3em;
        margin: 0.5em 0;
        box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.3);
        border: 1px solid var(--theme-1-wave);
        background-color: var(--theme-1-wave); }
        @media (min-width: 901px) {
          .offers-cnr .offers-nav ul.category li {
            margin: 0.5em; } }
        .offers-cnr .offers-nav ul.category li:focus, .offers-cnr .offers-nav ul.category li:hover {
          border-color: #000;
          text-decoration: underline; }
        .offers-cnr .offers-nav ul.category li a {
          display: block;
          padding: 0.375em 0.75em;
          text-decoration: none;
          color: #000; }
          .offers-cnr .offers-nav ul.category li a:focus, .offers-cnr .offers-nav ul.category li a:hover {
            -webkit-animation: shake 0.2s forwards;
                    animation: shake 0.2s forwards; }
  .offers-cnr .offers ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0; }
    @media (max-width: 600px) {
      .offers-cnr .offers ul {
        grid-row-gap: 1em; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .offers-cnr .offers ul {
        grid-gap: 1em; } }
    @media (min-width: 901px) and (max-width: 1200px) {
      .offers-cnr .offers ul {
        grid-gap: 1.5em; } }
    @media (min-width: 1201px) {
      .offers-cnr .offers ul {
        grid-gap: 2em; } }
    .offers-cnr .offers ul li {
      position: relative;
      cursor: pointer;
      transition: -webkit-transform 0.3s ease-in;
      transition: transform 0.3s ease-in;
      transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
      background-color: #FFF;
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
      border-radius: 0.3em;
      overflow: hidden; }
      .offers-cnr .offers ul li:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
      @media (max-width: 600px) {
        .offers-cnr .offers ul li {
          grid-column-start: span 12; } }
      @media (min-width: 601px) and (max-width: 900px) {
        .offers-cnr .offers ul li {
          grid-column-start: span 6; } }
      @media (min-width: 901px) and (max-width: 1200px) {
        .offers-cnr .offers ul li {
          grid-column-start: span 4; } }
      @media (min-width: 1201px) {
        .offers-cnr .offers ul li {
          grid-column-start: span 3; } }
      .offers-cnr .offers ul li .offer-img-wrapper {
        display: block;
        position: relative;
        overflow: hidden; }
        .offers-cnr .offers ul li .offer-img-wrapper:before {
          padding-top: 56.25%; }
        .offers-cnr .offers ul li .offer-img-wrapper img {
          display: block;
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) scale(0.7);
                  transform: translate(-50%, -50%) scale(0.7);
          background-color: #FFF; }
        .offers-cnr .offers ul li .offer-img-wrapper .offer-views {
          left: 5%;
          background-color: rgba(204, 204, 204, 0.85); }
          .offers-cnr .offers ul li .offer-img-wrapper .offer-views i {
            padding-right: 0.5em; }
          .offers-cnr .offers ul li .offer-img-wrapper .offer-views .offer-views-count {
            font-weight: bold; }
        .offers-cnr .offers ul li .offer-img-wrapper .offer-price {
          right: 5%;
          background-color: rgba(51, 204, 51, 0.85); }
          .offers-cnr .offers ul li .offer-img-wrapper .offer-price i {
            padding-right: 0.5em; }
          .offers-cnr .offers ul li .offer-img-wrapper .offer-price .offer-price-amount {
            font-weight: bold; }
      .offers-cnr .offers ul li .offer-title {
        display: flex;
        justify-content: center;
        font-family: Verdana, sans-serif;
        font-weight: 400;
        padding: 0.5em 1em;
        background-color: var(--theme-1-aluminium); }
        .offers-cnr .offers ul li .offer-title p {
          width: 90%;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-shadow: 1px 1px #000;
          overflow: hidden;
          color: var(--basic-color); }

.about-us .gallery-wrapper .card, .about-us .gallery-wrapper .cnt {
  overflow: hidden; }

.about-us .gallery-wrapper .card {
  position: relative;
  background-color: #FFF; }

.about-us .gallery-wrapper .card:after {
  padding-top: 100%; }

.about-us .gallery-wrapper .card img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2); }

.contacts {
  display: flex;
  flex-wrap: wrap; }
  .contacts > section {
    margin-bottom: 2em; }
  .contacts textarea[name="message"] {
    resize: none; }
  .contacts .info, .contacts .our-place, .contacts .call-us {
    flex-basis: 100%; }
  .contacts .info p {
    display: block;
    margin-bottom: 0.5em; }
  .contacts .our-place .iframe-wrapper iframe {
    display: block;
    width: 100%; }
  .contacts .call-us form {
    display: flex;
    flex-wrap: wrap; }
    .contacts .call-us form input, .contacts .call-us form textarea {
      width: 100%; }
    .contacts .call-us form .field {
      flex-basis: 100%;
      margin-bottom: 1em; }
      .contacts .call-us form .field label {
        display: block;
        padding: 0.5em 0.25em; }
    .contacts .call-us form .field.submit button {
      width: 25%;
      font-weight: bold;
      padding: var(--basic-padding-input);
      background-image: linear-gradient(to right bottom, var(--theme-1-pool-blue-rgba), var(--theme-1-soft-blue)); }
      @media (max-width: 600px) {
        .contacts .call-us form .field.submit button {
          width: 100%; } }

.auth-cnr {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em; }
  @media (max-width: 900px) {
    .auth-cnr {
      flex-direction: column;
      align-items: center; } }
  .auth-cnr form > fieldset {
    border: none; }
  .auth-cnr .input-wrapper {
    padding-bottom: 1em; }
  .auth-cnr .input-icon {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    border: 1px solid var(--theme-1-ink);
    border-radius: 0.3em;
    background-color: #FFF; }
    .auth-cnr .input-icon input {
      display: block;
      padding-right: 1.5em;
      margin: 0.5em 1em;
      outline: none;
      border: none;
      width: 100%;
      background-color: #FFF; }
      .auth-cnr .input-icon input:focus::-webkit-input-placeholder {
        opacity: 0.5; }
      .auth-cnr .input-icon input:focus:-ms-input-placeholder {
        opacity: 0.5; }
      .auth-cnr .input-icon input:focus::-ms-input-placeholder {
        opacity: 0.5; }
      .auth-cnr .input-icon input:focus::placeholder {
        opacity: 0.5; }
    .auth-cnr .input-icon i {
      display: block;
      padding: 0 0.75em;
      position: absolute;
      right: 0; }
      .auth-cnr .input-icon i:focus {
        color: var(--theme-1-soft-blue); }
  .auth-cnr .button, .auth-cnr button {
    display: block;
    padding: 0.5em 1em;
    outline: none;
    border: 1.5px solid var(--theme-1-ink);
    border-radius: 1.5em;
    cursor: pointer; }
  .auth-cnr .mobile-hint-header a {
    color: var(--basic-link-color); }
  .auth-cnr .signin, .auth-cnr .signup {
    flex-basis: 40%; }
    @media (max-width: 600px) {
      .auth-cnr .signin, .auth-cnr .signup {
        width: 90%; } }
    @media (min-width: 601px) and (max-width: 900px) {
      .auth-cnr .signin, .auth-cnr .signup {
        width: 65%; } }
    @media (max-width: 900px) {
      .auth-cnr .signin, .auth-cnr .signup {
        padding: 3em 0 1em 0; } }
    @media (min-width: 901px) {
      .auth-cnr .signin .mobile-hint-header, .auth-cnr .signup .mobile-hint-header {
        display: none; } }
  .auth-cnr .signin .alt-separator {
    padding: 1.5em 0;
    text-align: center; }
  .auth-cnr .signin .alt-signin {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 600px) {
      .auth-cnr .signin .alt-signin {
        flex-wrap: wrap; } }
    .auth-cnr .signin .alt-signin > button.alt-btn {
      flex: 0 1 30%;
      align-items: center;
      border-radius: 1em;
      position: relative; }
      @media (max-width: 600px) {
        .auth-cnr .signin .alt-signin > button.alt-btn {
          flex-basis: 100%;
          margin-bottom: 0.2em; } }
    .auth-cnr .signin .alt-signin > button i {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      @media (max-width: 600px) {
        .auth-cnr .signin .alt-signin > button i {
          font-size: 1.2em; } }
    .auth-cnr .signin .alt-signin > button i:before {
      padding: 0 0.75em; }
    .auth-cnr .signin .alt-signin > button span {
      margin-left: 1.5em;
      text-align: left; }
    .auth-cnr .signin .alt-signin #google-signin {
      order: 2;
      color: var(--basic-color-google);
      background-color: var(--bgrd-color-google); }
    .auth-cnr .signin .alt-signin #instagram-signin {
      order: 3;
      color: var(--basic-color-insgr);
      background-image: var(--bgrd-img-insgr); }
    .auth-cnr .signin .alt-signin #facebook-signin {
      order: 1;
      color: var(--basic-color-fb);
      background-color: var(--bgrd-color-fb); }
