.gallery-wrapper {
    width: 100%;
    display: grid;
    grid-gap: 2em;
    
    @include bp('mobile-device') {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto 15vh auto 15vh;
        grid-template-areas:
                "icr1 icr1"
                "icd1 icd1"
                "icr2 icr2"
                "icd2 icd2"
                "icr3 icr3"
                "icd3 icd3";
    }
    
    @include bp('desktop-device') {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 30vh);
        grid-template-areas:
                "icd1 icd1 icr1 icr1 icr1"
                "icr2 icr2 icr2 icd2 icd2"
                "icd3 icd3 icr3 icr3 icr3";
    }

    .item {
        &-card {
            &-1 { grid-area: icd1; }
            &-2 { grid-area: icd2; }
            &-3 { grid-area: icd3; }
        }
        
        &-cnr {
            &-1 { grid-area: icr1; }
            &-2 { grid-area: icr2; }
            &-3 { grid-area: icr3; }
        }
    }
}

