<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/js/script.js"></script>
</head>
<body class="{{ page.body_class }} {{ page.title | slugify }}">

    <header class="site-header banner">
        <div class="inner">
            <h1 class="site-tittle">
                <a href="/">{{ site.title }}</a>
            </h1>

            {% include navigation.html nav-pos="header-nav" %}
        </div>
    </header>

    <main class="site-content">
        {{ content }}
    </main>

    <footer class="site-footer">
        <p class="con-state">&copy; Copyright 2019 All Rights Reserved by DStoyanov</p>
    </footer>

</body>
</html>