<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body class="{{ page.body_class }} {{ page.title | slugify }}">

    <header class="site-header banner">
        <div class="inner">
            <h1 class="site-tittle">
                <a href="/">{{ site.title }}</a>
            </h1>

            {% include navigation.html nav-pos="header-nav" %}
        </div>
    </header>

    <main class="site-content">
        {{ content }}
    </main>

    <footer class="site-footer">
        <p class="con-state">&copy; All rights reserved by DStoyanov</p>
    </footer>

</body>
</html>