.about-us {
    
    .gallery-wrapper {
        
        .card, .cnt {
            overflow: hidden;
        }
    
        .card {
            position: relative;
            background-color: #FFF;
        }
    
        .card:after {
            @extend %pseudo;
            padding-top: 100%;
        }
    
        .card img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}