.home {
    position: relative;
    
    
    .light {
        background-color: rgba(yellow, 0.6);
        
        & > * {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
        }
    }
    
    .best-offers {
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        
        p {
            animation: rotate-3d;
            animation-duration: 5s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
        }
    }
    
    .see-more {
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        transition: background-color 0.5s ease-in;
        cursor: pointer;
    
        &:focus, &:hover {
            background-color: rgba(51, 204, 51, 0.85);
            
            a {
                animation: go-to-shop;
                animation-duration: 5s;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
            }
        }
        
        a {
            display: block;
            text-decoration: none;
            color: #000;
            
            &:after {
                display: inline-block;
                content: '\f101';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
    }
    
    .slide-show {
        display: block;
        position: relative;
        width: auto;
        margin: 0 auto;
        
        &:before {
            display: block;
            content: '';
            padding-top: 9 / 32 *100%;
        }
        
        .show-offer {
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            transition: opacity 1s ease-out;
            overflow: hidden;
            opacity: 0;
            
            img {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
            }
        }
    }
    
    .left, .right {
        display: block;
        font-size: 2em;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding: 0.3em;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        color: var(--basic-color);
        background-color: rgba(30, 30, 30, 0.7);
        z-index: 1000;
        cursor: pointer;
        
        &:focus, &:hover {
            color: var(--theme-1-ink);
            background-color: rgba(yellow, 0.7);
            animation: shakeY;
            animation-duration: 0.5s;
            animation-direction: alternate;
        }
    }
    
    .left {
        left: 0;
        padding-right: 0.5em;
        border-top-right-radius: 50rem;
        border-bottom-right-radius: 50rem;
    }
    
    .right {
        right: 0;
        padding-left: 0.5em;
        border-top-left-radius: 50rem;
        border-bottom-left-radius: 50rem;
    }
}