.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 30vh) 50vh;
    grid-template-areas:
            "icd1 icd1 icr1 icr1 icr1"
            "icr2 icr2 icr2 icd2 icd2"
            "icd3 icd3 icr3 icr3 icr3"
            "show show show show show";

    grid-gap: 2em;
}

.item-card-1 {
    grid-area: icd1;
}
.item-cnr-1 {
    grid-area: icr1;
}

.item-card-2 {
    grid-area: icd2;
}

.item-cnr-2 {
    grid-area: icr2;
}

.item-card-3 {
    grid-area: icd3;
}

.item-cnr-3 {
    grid-area: icr3;
}

.slide-show {
    grid-area: show;
}