.offers-cnr {
    display: block;
    padding: 1em;
    background-color: rgb(240,240,240);
    
    .offers-nav {
    
    }
    
    .offers {
        
        ul {
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            grid-gap: 2em;
            justify-content: center;
            align-content: center;
            
            li {
                background-color: #FFF;
    
                @include bp('phone') { grid-column-start: span 20 }
                @include bp('tablet') { grid-column-start: span 10 }
                @include bp('laptop') { grid-column-start: span 5 }
                @include bp('desktop') { grid-column-start: span 4 }
                
                .offer-cnr {
                    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
                    border-radius: 0.3em;
                    overflow: hidden;
                }
                
                .offer-img-wrapper {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    
                    &:before {
                        @extend %pseudo;
                        padding-top: (9 / 16) * 100%
                    }
                    
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0.8);
                        background-color: #FFF;
                    }
                    
                    .offer-views {
                        @extend %offer-details;
                        left: 5%;
                        background-color: rgba(204,	204, 204, 0.85);
                        
                        i {
                            padding-right: 0.5em;
                        }
                        
                        .offer-views-count {
                            font-weight: bold;
                        }
                    }
                    
                    .offer-price {
                        @extend %offer-details;
                        right: 5%;
                        background-color: rgba(51, 204, 51, 0.85);
    
                        i {
                            padding-right: 0.5em;
                        }
    
                        .offer-price-amount {
                            font-weight: bold;
                        }
                    }
                }
    
                .offer-title {
                    display: flex;
                    justify-content: center;
                    font-family: Verdana, sans-serif;
                    font-weight: 400;
                    padding: 0.5em 1em;
                    
                    p {
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}