.offers-cnr {
    display: block;
    padding: 1em;
    background-color: var(--theme-1-paper);
    
    
    .offers-nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin-bottom: 3em;
        overflow: hidden;
        background-color: var(--basic-color);
        
        ul.category {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: start;
            padding: 0;
            margin: 0;
            
            li {
                border-radius: 0.3em;
                padding: 0.5em 1em;
                margin: 0.5em;
                background-color: var(--theme-1-wave);
                
                a {
                    display: block;
                    text-decoration: none;
                    color: #000;
                }
            }
            
            li:last-of-type {
                margin-right: 0;
            }
        }
        
        .search-area {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
    
            .search-box {
                opacity: 0;
                margin-right: 2em;
                position: absolute;
                pointer-events: none;
                z-index: 10;
                
                & > form {
                    display: flex;
                    flex-wrap: nowrap;
                }
                
                input[name="search"] {
                    width: 100%;
                    outline: none;
                    border: 2px solid #000;
                    border-radius: 0.3em;
                    padding: 0 1em;
                    
                    &:focus, &:hover {
                        border-color: #66A6AD;
                    }
                    
                    &:focus::placeholder {
                        opacity: 0.5;
                    }
                }
                
                .icon-wrapper {
                
                }
            }
    
            @at-root #search-box-toggle { @extend %invisible-input }
            @at-root #search-box-toggle:checked + .offers-nav .search-area .search-box {
                animation: fade-in-search;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
                opacity: 1;
                position: relative;
                pointer-events: all;
            }
            
            @at-root #search-box-toggle:checked + .offers-nav #search-toggle-btn .open { display: none }
            @at-root #search-box-toggle:checked + .offers-nav #search-toggle-btn .close { display: inline-block }
    
            #search-toggle-btn {
                z-index: 20;
                color: var(--basic-color);
                background-color: var(--theme-1-ink);
        
                .open, .close {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    
                    i {
                        display: inline-block;
                        font-size: 1.2em;
                        padding-right: 0.3em;
                    }
                }
                
                .open {
                    display: inline-block;
                }
                .close {
                    display: none;
                }
            }
    
            
    
            
            
            
            
        }
    }
    
    .offers {
        
        ul {
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            grid-gap: 2em;
            justify-content: center;
            align-content: center;
            padding: 0;
            margin: 0;
            
            li {
                cursor: pointer;
                background-color: #FFF;
    
                @include bp('phone') { grid-column-start: span 20 }
                @include bp('tablet') { grid-column-start: span 10 }
                @include bp('laptop') { grid-column-start: span 5 }
                @include bp('desktop') { grid-column-start: span 4 }
                
                .offer-cnr {
                    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
                    border-radius: 0.3em;
                    overflow: hidden;
                }
                
                .offer-img-wrapper {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    
                    &:before {
                        @extend %pseudo;
                        padding-top: (9 / 16) * 100%
                    }
                    
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0.8);
                        background-color: #FFF;
                    }
                    
                    .offer-views {
                        @extend %offer-details;
                        left: 5%;
                        background-color: rgba(204,	204, 204, 0.85);
                        
                        i {
                            padding-right: 0.5em;
                        }
                        
                        .offer-views-count {
                            font-weight: bold;
                        }
                    }
                    
                    .offer-price {
                        @extend %offer-details;
                        right: 5%;
                        background-color: rgba(51, 204, 51, 0.85);
    
                        i {
                            padding-right: 0.5em;
                        }
    
                        .offer-price-amount {
                            font-weight: bold;
                        }
                    }
                }
    
                .offer-title {
                    display: flex;
                    justify-content: center;
                    font-family: Verdana, sans-serif;
                    font-weight: 400;
                    padding: 0.5em 1em;
                    background-color: var(--theme-1-aluminium);
                    
                    p {
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-shadow: 1px 1px #000;
                        overflow: hidden;
                        color: var(--basic-color);
                    }
                }
            }
        }
    }
}