:root {
    
    --theme-1-ink: #20232A;
    --theme-1-aluminium: #ACBEBE;
    --theme-1-wave: #66A6AD;
    --theme-1-paper: #F4F4EF;
    --theme-1-rybi-red: #A01D26;
    
    --basic-color: #FFF;
    --footer-bgrd-color: #333;
    
    --basic-color-google: #333;
    --bgrd-color-google: #FFF;
    --basic-color-insgr: #FFF;
    --bgrd-img-insgr: linear-gradient(to left bottom, #cc3399, #f1347d, #ff4e5c, #ff7338, #ff9900);;
    --basic-color-fb: #FFF;
    --bgrd-color-fb: #3B5998;
}