@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

@import 'typography.scss';
@import 'variables.scss';
@import 'reset.scss';
@import 'layout.scss';
@import 'grid.scss';

@import 'header.scss';
@import 'footer.scss';

@import 'authorize.scss';


.gallery-wrapper .card,
.gallery-wrapper .cnt,
.gallery-wrapper .slide-show {
    overflow: hidden;
}

.gallery-wrapper .cnt {
    background-color: #EEE;
}

.gallery-wrapper .card,
.gallery-wrapper .slide-show {
    position: relative;
    background-color: #FFF;
}

.gallery-wrapper .card:after {
    display: block;
    content: '';
    padding-top: 100%;
}

.gallery-wrapper .card img,
.gallery-wrapper .slide-show img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}

